<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/output.css" rel="stylesheet" />
    <script src="/assets/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.2" crossorigin="anonymous"></script>
</head>

<body class="bg-gray-50 dark:bg-gray-900">
    <div hx-ext="ws" id="main" ws-connect="/ws/play/{{ .Tournament.ID }}">
        <div class="flex flex-col items-center justify-center h-60 mt-12" id="status">
            <h4>Tournament Joined</h4>
            <p>{{ .Error }}</p>
            <h3>{{ .Tournament.Prize }}</h3>
            <p>Tournament starting in 30 seconds...</p>
            <a class="btn" href="{{ .InviteLink }}">Invite
                Friends</a>
            <button class="btn btn-alternative absolute bottom-4" hx-post="/leave/{{ .Tournament.ID }}">Leave</button>
        </div>
        <div id="moves">
            <form>
                <button ws-send class="btn btn-alternative" hx-vals='{"move": "rock"}'>Rock</button>
                <button ws-send class="btn btn-alternative" hx-vals='{"move": "paper"}'>Paper</button>
                <button ws-send class="btn btn-alternative" hx-vals='{"move": "scissors"}'>Scissors</button>
            </form>
        </div>
    </div>
</body>

</html>
