<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/output.css" rel="stylesheet" />
    <script src="/assets/htmx.min.js"></script>
</head>

<body class="bg-gray-50 dark:bg-gray-900">
    <div id="main">
        <div class="flex flex-col items-center justify-center h-60">
            <h1
                class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                {{ .FormattedMode }}
            </h1>
            <p>{{ .Error }}</p>
            <p>{{ .CurrentPlayers }} Online</p>
            <div hx-trigger="every 2s" hx-post="/queuestatus/{{ .Mode }}/{{ .PlayerID}}" hx-target="#main"
                hx-swap="innerHTML">
                <p class="text-center">Searching for a match...</p>
                <button class="btn btn-red" hx-delete="/queue/{{ .Mode }}/{{ .PlayerID }}" hx-target="#main"
                    hx-swap="outterHTML">Leave Matchmaking</button>
            </div>
        </div>
    </div>
    <script src="/assets/flowbite.min.js"></script>
</body>

</html>
